
%html{:lang => 'eng'}
  %head
    = partial :style
    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
  %body
    %a{ :href => '/register' }Sign up

    = partial :sockets